<head>
  <title>Aidan Goguen</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>
<body>
<!--
  <div class="bg-dark collapse" id="navbarHeader" style>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-white">
            Some information about me, not sure what to put here yet.
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-white">Link up on LinkedIn</a>
            </li>
            <li>
              <a href="#" class="text-white">Check out GitHub</a>
            </li>
            <li>
              <a href="#" class="text-white">Email me</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  -->
  <!--
  <div class="navbar navbar-dark bg-dark box-shadow" stlye="background-color:#e3f2df; color:black;">
  <%# <div class="navbar" stlye="background-color:#e3f2df; color:black;"> %>
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Welcome</strong>
      </a>
    </div>
  </div>
  -->
      <!--
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      -->
  <nav class="navbar" style="background-color:rgba(2, 8, 65, 1);">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center" style="color:white;">
        <strong>Welcome</strong>
      </a>
    </div>
  </nav>
  <br/>
  <div class="jumbotron text-center">
    <h1 class="display-4">My name is Aidan Goguen</h1><br/>
    <h3>I'm a Full Stack Software Developer</h3>
    <%# <p class="lead text-muted">With over 2 years of experience, I have a strong passion for creating innovative solutions and a deep understanding of the web development process, from front-end design to back-end functionality. My expertise in various programming languages and frameworks, including Python, JS, HTML, CSS, Bootstrap, Ruby & Ruby on Rails, has enabled me to deliver efficient and effective solutions. I am known for my attention to detail and ability to work effectively in a team environment, making me a valuable asset to any project. I am dedicated to continued learning and professional growth, and am eager to make a significant impact in the world of web development.</p><br/> %>
    <div class="container" style="width:80%;">
      <p class="lead text-muted">As a full stack developer with over 2 years of experience, I am passionate about bringing innovative solutions to life through web development. My expertise in languages like Python, JS, and frameworks like Ruby on Rails has allowed me to deliver efficient and effective solutions. I am a team player with a keen eye for detail, always striving for professional growth and eager to make an impact in the web development industry.</p><br/>
    </div>
    <div class="social-buttons">
      <a class="navbar-brand" href="https://www.linkedin.com/in/aidan-goguen/" target="_blank">
        <img src="https://cs1.membeesites.net/wp-content/uploads/linkedin.png" alt="LinkedIn icon" width="50" height="44">
      </a>
      <a class="navbar-brand" href="https://github.com/GogAidan" target="_blank">
        <img src="https://cs1.membeesites.net/wp-content/uploads/github-sign.png" alt="GitHub icon" width="50" height="44">
      </a>
      <a class="navbar-brand" href="mailto:aidangoguen@outlook.com">
        <img src="https://cs1.membeesites.net/wp-content/uploads/email.png" alt="Email Icons" width="50" height="44">
      </a>
    </div>
    <!--
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
    <%# <hr class="my-4"> %>
  </div><br/>
  <p style="text-align: center;">Check out some of my most recent projects below</p>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
      <% @all_projects.each do |project| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" alt="image" style="height: 225px; width: 100%; display: block;" src="<%=project.proj_picture_1%>">
            <div class="card-body">
              <p class="card-text">
                <%= project.proj_short_desc %>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'Learn More', project %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<footer class="text-muted" style="background-color:rgba(2, 8, 65, 1);">
  <div class="container">
    <p style="text-align:center;">
      <a href="#">Back to top</a>
    </p>
    <div style="color:white; text-align:left;">
      <h6>Icons:</h6>
      <p>
      Github: <a href="https://www.flaticon.com/free-icons/github" title="github icons">Github icons created by Dave Gandy - Flaticon</a>
      </p>
      <p>
      Email: <a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by Freepik - Flaticon</a>
      </p>
    </div><br/>
    <%# <p>
      LinkedIn:
      <a class="navbar-brand" href="#">
        <img src="https://cs1.membeesites.net/wp-content/uploads/linkedin.png" alt="LinkedIn" width="30" height="24">
      </a>
    </p> %>
  </div>
</footer>
<!--
<footer>
<div class="nav-footer">
  <nav class="navbar">S
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://cs1.membeesites.net/wp-content/uploads/linkedin.png" alt="LinkedIn" width="30" height="24">
      </a>
      <a class="navbar-brand" href="#">
        <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Github" width="30" height="24">
      </a>
      <a class="navbar-brand">
        <p>&copy;</p>
      </a>
    </div>
  </nav>
</div>
</footer>
-->
</body>
</html>