<head>
  <title>Aidan Goguen</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>
<body>
<!--
  <div class="bg-dark collapse" id="navbarHeader" style>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-white">
            Some information about me, not sure what to put here yet.
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-white">Link up on LinkedIn</a>
            </li>
            <li>
              <a href="#" class="text-white">Check out GitHub</a>
            </li>
            <li>
              <a href="#" class="text-white">Email me</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  -->
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Hello World!</strong>
      </a>
      <!--
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      -->
    </div>
  </div>

  <br/>
  <div class="jumbotron text-center">
    <h1 class="display-4">My name is Aidan Goguen</h1><br/>
    <h3>I'm a Full Stack Software Developer</h3>
    <p class="lead text-muted">I am a Full Stack Software Developer with collective 2 years of experience. Plus another sentence to give a brief introduction</p><br/>
    <div class="social-buttons">
      <a href="#" class="btn btn-primary my-2">LinkedIn</a>
      <a href="#" class="btn btn-secondary my-2">GitHub</a>
    </div>
    <!--
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
    <hr class="my-4">
  </div><br/>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow>
            <img class="card-img-top" alt="image" style="height: 225px; width: 100%; display: block;" src="https://cs1.membeesites.net/wp-content/uploads/linkedin.png">
            <div class="card-body">
              <p class="card-text">
                A brief blurb of project
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Learn more</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>
      LinkedIn:
      <a class="navbar-brand" href="#">
        <img src="https://cs1.membeesites.net/wp-content/uploads/linkedin.png" alt="LinkedIn" width="30" height="24">
      </a>
    </p>
  </div>
</footer>
<!--
<footer>
<div class="nav-footer">
  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://cs1.membeesites.net/wp-content/uploads/linkedin.png" alt="LinkedIn" width="30" height="24">
      </a>
      <a class="navbar-brand" href="#">
        <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Github" width="30" height="24">
      </a>
      <a class="navbar-brand">
        <p>&copy;</p>
      </a>
    </div>
  </nav>
</div>
</footer>
-->
</body>
</html>